-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "isOnline" BOOLEAN NOT NULL DEFAULT false,
    "scope" TEXT,
    "expires" TIMESTAMP(3),
    "accessToken" TEXT NOT NULL,
    "userId" BIGINT,
    "firstName" TEXT,
    "lastName" TEXT,
    "email" TEXT,
    "accountOwner" BOOLEAN NOT NULL DEFAULT false,
    "locale" TEXT,
    "collaborator" BOOLEAN DEFAULT false,
    "emailVerified" BOOLEAN DEFAULT false,
    "refreshToken" TEXT,
    "refreshTokenExpires" TIMESTAMP(3),

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Garment" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "variantId" TEXT NOT NULL,
    "timesRented" INTEGER NOT NULL DEFAULT 0,
    "totalRevenue" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "purchaseCostOverride" DECIMAL(65,30),
    "cleaningCostPerHire" DECIMAL(65,30),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Garment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Booking" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "variantId" TEXT NOT NULL,
    "size" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "deliveryMethod" TEXT NOT NULL,
    "eventDate" TIMESTAMP(3) NOT NULL,
    "orderId" TEXT,
    "status" TEXT NOT NULL,
    "workflowStatus" TEXT NOT NULL DEFAULT 'reserved',
    "pricePaid" DECIMAL(65,30),
    "bufferBeforeDays" INTEGER,
    "bufferBeforeUnit" TEXT,
    "bufferAfterDays" INTEGER,
    "bufferAfterUnit" TEXT,
    "customerName" TEXT,
    "customerEmail" TEXT,
    "productTitle" TEXT,
    "rentalNotes" TEXT,
    "fulfillmentTrackingNumber" TEXT,
    "fulfillmentTrackingLink" TEXT,
    "returnTrackingNumber" TEXT,
    "returnTrackingLink" TEXT,
    "tags" TEXT,
    "shopifyOrderMode" TEXT NOT NULL DEFAULT 'none',
    "deliveryAddressJson" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Booking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppointmentSlot" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "time" TEXT NOT NULL,
    "durationMinutes" INTEGER NOT NULL,
    "changeRoomId" TEXT NOT NULL,
    "capacity" INTEGER NOT NULL DEFAULT 1,
    "bookedCount" INTEGER NOT NULL DEFAULT 0,
    "orderId" TEXT,

    CONSTRAINT "AppointmentSlot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppointmentBooking" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "time" TEXT NOT NULL,
    "durationMinutes" INTEGER NOT NULL,
    "changeRoomId" TEXT NOT NULL DEFAULT 'default',
    "source" TEXT NOT NULL DEFAULT 'online',
    "customerName" TEXT,
    "customerEmail" TEXT,
    "eventDate" TIMESTAMP(3),
    "itemsToTryOn" TEXT,
    "instagram" TEXT,
    "gownProductId" TEXT,
    "gownVariantId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AppointmentBooking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AppointmentHold" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "time" TEXT NOT NULL,
    "durationMinutes" INTEGER NOT NULL,
    "changeRoomId" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AppointmentHold_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TryOnCredit" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "appointmentId" TEXT NOT NULL,
    "customerEmail" TEXT NOT NULL,
    "shopifyCustomerId" TEXT,
    "discountCode" TEXT NOT NULL,
    "shopifyDiscountId" TEXT,
    "amount" DECIMAL(65,30) NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'active',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TryOnCredit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NotificationSend" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "templateId" TEXT NOT NULL,
    "bookingId" TEXT,
    "recipientEmail" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "triggerKey" TEXT NOT NULL,
    "error" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NotificationSend_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WaitlistEntry" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "productId" TEXT NOT NULL,
    "productTitle" TEXT,
    "variantId" TEXT,
    "size" TEXT,
    "eventDate" TIMESTAMP(3),
    "email" TEXT NOT NULL,
    "name" TEXT,
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'waiting',
    "notifiedAt" TIMESTAMP(3),
    "claimToken" TEXT,
    "claimExpiresAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WaitlistEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BlockedDate" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "productId" TEXT,
    "variantId" TEXT,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "reason" TEXT,
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "BlockedDate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ShopSettings" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "config" TEXT NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ShopSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RentalProduct" (
    "id" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "shopifyProductId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "handle" TEXT NOT NULL,
    "featuredImageUrl" TEXT,
    "shopifyStatus" TEXT NOT NULL,
    "vendor" TEXT,
    "productType" TEXT,
    "rentalEnabled" BOOLEAN NOT NULL DEFAULT false,
    "isConfigured" BOOLEAN NOT NULL DEFAULT false,
    "shopifyAvailable" BOOLEAN NOT NULL DEFAULT true,
    "syncError" TEXT,
    "removedAt" TIMESTAMP(3),
    "lastSyncedAt" TIMESTAMP(3),
    "importedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RentalProduct_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RentalProductVariant" (
    "id" TEXT NOT NULL,
    "rentalProductId" TEXT NOT NULL,
    "shop" TEXT NOT NULL,
    "shopifyVariantId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "sku" TEXT,
    "price" TEXT,
    "inventoryItemId" TEXT,
    "inventoryQuantity" INTEGER,
    "availableInShopify" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RentalProductVariant_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Garment_shop_idx" ON "Garment"("shop");

-- CreateIndex
CREATE UNIQUE INDEX "Garment_shop_productId_variantId_key" ON "Garment"("shop", "productId", "variantId");

-- CreateIndex
CREATE INDEX "Booking_shop_productId_variantId_status_idx" ON "Booking"("shop", "productId", "variantId", "status");

-- CreateIndex
CREATE INDEX "Booking_shop_startDate_endDate_idx" ON "Booking"("shop", "startDate", "endDate");

-- CreateIndex
CREATE INDEX "Booking_shop_workflowStatus_idx" ON "Booking"("shop", "workflowStatus");

-- CreateIndex
CREATE INDEX "Booking_shop_createdAt_idx" ON "Booking"("shop", "createdAt");

-- CreateIndex
CREATE INDEX "AppointmentSlot_shop_date_durationMinutes_changeRoomId_idx" ON "AppointmentSlot"("shop", "date", "durationMinutes", "changeRoomId");

-- CreateIndex
CREATE UNIQUE INDEX "AppointmentSlot_shop_date_time_durationMinutes_changeRoomId_key" ON "AppointmentSlot"("shop", "date", "time", "durationMinutes", "changeRoomId");

-- CreateIndex
CREATE INDEX "AppointmentBooking_shop_orderId_idx" ON "AppointmentBooking"("shop", "orderId");

-- CreateIndex
CREATE INDEX "AppointmentBooking_shop_date_time_idx" ON "AppointmentBooking"("shop", "date", "time");

-- CreateIndex
CREATE INDEX "AppointmentBooking_shop_gownProductId_gownVariantId_idx" ON "AppointmentBooking"("shop", "gownProductId", "gownVariantId");

-- CreateIndex
CREATE INDEX "AppointmentHold_shop_expiresAt_idx" ON "AppointmentHold"("shop", "expiresAt");

-- CreateIndex
CREATE INDEX "AppointmentHold_shop_date_time_durationMinutes_idx" ON "AppointmentHold"("shop", "date", "time", "durationMinutes");

-- CreateIndex
CREATE UNIQUE INDEX "AppointmentHold_shop_date_time_durationMinutes_changeRoomId_key" ON "AppointmentHold"("shop", "date", "time", "durationMinutes", "changeRoomId");

-- CreateIndex
CREATE UNIQUE INDEX "TryOnCredit_appointmentId_key" ON "TryOnCredit"("appointmentId");

-- CreateIndex
CREATE INDEX "TryOnCredit_shop_customerEmail_idx" ON "TryOnCredit"("shop", "customerEmail");

-- CreateIndex
CREATE INDEX "TryOnCredit_shop_status_idx" ON "TryOnCredit"("shop", "status");

-- CreateIndex
CREATE UNIQUE INDEX "NotificationSend_triggerKey_key" ON "NotificationSend"("triggerKey");

-- CreateIndex
CREATE INDEX "NotificationSend_shop_bookingId_idx" ON "NotificationSend"("shop", "bookingId");

-- CreateIndex
CREATE INDEX "NotificationSend_shop_createdAt_idx" ON "NotificationSend"("shop", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "WaitlistEntry_claimToken_key" ON "WaitlistEntry"("claimToken");

-- CreateIndex
CREATE INDEX "WaitlistEntry_shop_status_idx" ON "WaitlistEntry"("shop", "status");

-- CreateIndex
CREATE INDEX "WaitlistEntry_shop_productId_idx" ON "WaitlistEntry"("shop", "productId");

-- CreateIndex
CREATE INDEX "WaitlistEntry_shop_productId_variantId_idx" ON "WaitlistEntry"("shop", "productId", "variantId");

-- CreateIndex
CREATE INDEX "BlockedDate_shop_productId_variantId_startDate_endDate_idx" ON "BlockedDate"("shop", "productId", "variantId", "startDate", "endDate");

-- CreateIndex
CREATE UNIQUE INDEX "ShopSettings_shop_key" ON "ShopSettings"("shop");

-- CreateIndex
CREATE INDEX "RentalProduct_shop_removedAt_idx" ON "RentalProduct"("shop", "removedAt");

-- CreateIndex
CREATE INDEX "RentalProduct_shop_shopifyStatus_idx" ON "RentalProduct"("shop", "shopifyStatus");

-- CreateIndex
CREATE INDEX "RentalProduct_shop_title_idx" ON "RentalProduct"("shop", "title");

-- CreateIndex
CREATE INDEX "RentalProduct_shop_updatedAt_idx" ON "RentalProduct"("shop", "updatedAt");

-- CreateIndex
CREATE UNIQUE INDEX "RentalProduct_shop_shopifyProductId_key" ON "RentalProduct"("shop", "shopifyProductId");

-- CreateIndex
CREATE INDEX "RentalProductVariant_rentalProductId_idx" ON "RentalProductVariant"("rentalProductId");

-- CreateIndex
CREATE INDEX "RentalProductVariant_shop_sku_idx" ON "RentalProductVariant"("shop", "sku");

-- CreateIndex
CREATE UNIQUE INDEX "RentalProductVariant_shop_shopifyVariantId_key" ON "RentalProductVariant"("shop", "shopifyVariantId");

-- AddForeignKey
ALTER TABLE "RentalProductVariant" ADD CONSTRAINT "RentalProductVariant_rentalProductId_fkey" FOREIGN KEY ("rentalProductId") REFERENCES "RentalProduct"("id") ON DELETE CASCADE ON UPDATE CASCADE;

